/* utility */
.u-ms {
    margin: 5px;
}
.u-mm {
    margin: 10px;
}
.u-ml {
    margin: 15px;
}
.u-ml2 {
    margin: 20px;
}
.u-ml3 {
    margin: 25px;
}
.u-ml4 {
    margin: 30px;
}
.u-mts {
    margin-top: 5px;
}
.u-mtm {
    margin-top: 10px;
}
.u-mtl {
    margin-top: 15px;
}
.u-mtl2 {
    margin-top: 20px;
}
.u-mtl3 {
    margin-top: 25px;
}
.u-mtl4 {
    margin-top: 30px;
}
.u-mrs {
    margin-right: 5px;
}
.u-mrm {
    margin-right: 10px;
}
.u-mrl {
    margin-right: 15px;
}
.u-mrl2 {
    margin-right: 20px;
}
.u-mrl3 {
    margin-right: 25px;
}
.u-mrl4 {
    margin-right: 30px;
}
.u-mbs {
    margin-bottom: 5px;
}
.u-mbm {
    margin-bottom: 10px;
}
.u-mbl {
    margin-bottom: 15px;
}
.u-mbl2 {
    margin-bottom: 20px;
}
.u-mbl3 {
    margin-bottom: 25px;
}
.u-mbl4 {
    margin-bottom: 30px;
}
.u-mls {
    margin-left: 5px;
}
.u-mlm {
    margin-left: 10px;
}
.u-mll {
    margin-left: 15px;
}
.u-mll2 {
    margin-left: 20px;
}
.u-mll3 {
    margin-left: 25px;
}
.u-mll4 {
    margin-left: 30px;
}
.u-mvs {
    margin-top: 5px;
    margin-bottom: 5px;
}
.u-mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.u-mvl {
    margin-top: 15px;
    margin-bottom: 15px;
}
.u-mvl2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.u-mvl3 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.u-mvl4 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.u-mhs {
    margin-right: 5px;
    margin-left: 5px;
}
.u-mhm {
    margin-right: 10px;
    margin-left: 10px;
}
.u-mhl {
    margin-right: 15px;
    margin-left: 15px;
}
.u-mhl2 {
    margin-right: 20px;
    margin-left: 20px;
}
.u-mhl3 {
    margin-right: 25px;
    margin-left: 25px;
}
.u-mhl4 {
    margin-right: 30px;
    margin-left: 30px;
}
.u-mla {
    margin-left: auto;
}
.u-mra {
    margin-right: auto;
}
.u-ps {
    padding: 5px;
}
.u-pm {
    padding: 10px;
}
.u-pl {
    padding: 15px;
}
.u-pl2 {
    padding: 20px;
}
.u-pl3 {
    padding: 25px;
}
.u-pl4 {
    padding: 30px;
}
.u-pts {
    padding-top: 5px;
}
.u-ptm {
    padding-top: 10px;
}
.u-ptl {
    padding-top: 15px;
}
.u-ptl2 {
    padding-top: 20px;
}
.u-ptl3 {
    padding-top: 25px;
}
.u-ptl4 {
    padding-top: 30px;
}
.u-prs {
    padding-right: 5px;
}
.u-prm {
    padding-right: 10px;
}
.u-prl {
    padding-right: 15px;
}
.u-prl2 {
    padding-right: 20px;
}
.u-prl3 {
    padding-right: 25px;
}
.u-prl4 {
    padding-right: 30px;
}
.u-pbs {
    padding-bottom: 5px;
}
.u-pbm {
    padding-bottom: 10px;
}
.u-pbl {
    padding-bottom: 15px;
}
.u-pbl2 {
    padding-bottom: 20px;
}
.u-pbl3 {
    padding-bottom: 25px;
}
.u-pbl4 {
    padding-bottom: 30px;
}
.u-pls {
    padding-left: 5px;
}
.u-plm {
    padding-left: 10px;
}
.u-pll {
    padding-left: 15px;
}
.u-pll2 {
    padding-left: 20px;
}
.u-pll3 {
    padding-left: 25px;
}
.u-pll4 {
    padding-left: 30px;
}
.u-pvs {
    padding-top: 5px;
    padding-bottom: 5px;
}
.u-pvm {
    padding-top: 10px;
    padding-bottom: 10px;
}
.u-pvl {
    padding-top: 15px;
    padding-bottom: 15px;
}
.u-pvl2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.u-pvl3 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.u-pvl4 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.u-phs {
    padding-right: 5px;
    padding-left: 5px;
}
.u-phm {
    padding-right: 10px;
    padding-left: 10px;
}
.u-phl {
    padding-right: 15px;
    padding-left: 15px;
}
.u-phl2 {
    padding-right: 20px;
    padding-left: 20px;
}
.u-phl3 {
    padding-right: 25px;
    padding-left: 25px;
}
.u-phl4 {
    padding-right: 30px;
    padding-left: 30px;
}


.u-clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.u-relative {
  position: relative;
}

.u-center {
    text-align: center;
}
.u-right {
    text-align: right;
}
.u-fw-bold {
    font-weight: bold;
}
.u-fw-normal {
    font-weight: normal;
}


.u-fs-18 {
  font-size: 18px;
  line-height: 1.6;
}
.u-fs-16 {
  font-size: 16px;
  line-height: 1.6;
}
.u-fs-15 {
  font-size: 15px;
  line-height: 1.6;
}
.u-fs-14 {
  font-size: 14px;
  line-height: 1.6;
}
.u-fs-13 {
  font-size: 13px;
  line-height: 1.6;
}
.u-fs-12 {
  font-size: 12px;
  line-height: 1.6;
}
.u-fs-11 {
  font-size: 11px;
  line-height: 1.6;
}
.u-fs-10 {
  font-size: 10px;
  line-height: 1.6;
}
.u-fs-9 {
  font-size: 9px;
  line-height: 1.6;
}


.u-d-block {
    display: block;
}
.u-d-none {
    display: none;
}


.u-flex-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.u-flex-v {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.u-flex-v--center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.u-flex-h--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.u-flex--fill {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
