@charset "UTF-8";
/* 共通 */
/* ラッパー、コンテナ */
/* ヘッダー */
/* パンくず */
/* トップ10 */
/* カテゴリページ（タイトル） */
/* 新着オンラインゲーム */
/* ２カラム */
/* おすすめランキングトップ３ */
/* ランキング（カテゴリページ）*/
/* ページャー */
/* 最新トピックス */
/* フッター */
/* スマホのメニュー */
/* toTop */
/* 1150px 以下 */

/* 850px 以下 */
/* 520px 以下 */
/* 400px 以下 */


/* 共通 */
* {
  box-sizing: border-box;
}
body {
  background: #333;
  color: #3c3c3c;
  line-height: 1.6;
}
time {
  display: inline-block;
}
.time {
  font-size: 12px;
  color: #999;
  font-style: italic;
  padding-left: 18px;
  background: url("img/icon_time.png") no-repeat;
  background-position: left 45%;
  background-size: 16px 16px;
}
.time.no-icon {
  background: none;
  padding-left: 0;
  margin-bottom: 5px;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px 0;
}
a:hover {
  text-decoration: underline;
}
a.label_small:hover {
  text-decoration: none;
}
a.label_large:hover {
  text-decoration: none;
}
nav > ul li a:hover {
  text-decoration: none;
}
a img:hover {
  opacity: 0.8;
}
.label_small {
  display: inline-block;
  background: #fff;
  border: solid 1px #bbb;
  color: #333;
  padding: 3px 8px;
  font-size: 10px;
  margin-bottom: 3px;
}
.label_large {
  display: inline-block;
  background: #fff;
  padding: 3px 8px;
  margin-bottom: 5px;
  border: solid 1px #bbb;
  font-size: 13px;
  font-weight: normal;
  color: #333;
}
.label_new {
  background: #de1413;
  color: #fff;
}
.label_device {
  background: #333;
  color: #fff;
}
.label_fee {
  background: #333;
  color: #fff;
}
.label_pre {
  border: solid 1px #69ba01;
  color: #69ba01;
  font-weight: bold;
}

/* ラッパー、コンテナ */
.wrapper {}
.container {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}
.container_left {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -1200px;
}
.container_right {
  position: fixed;
  top: 0;
  right: 50%;
  margin-right: -1200px;
}
main {
  padding-top: 149px;/* 固定ヘッダーの高さ調整 */
}

/* ヘッダー */
header {
  position: fixed;
  width: 1200px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.3);
  z-index: 2;
}
.ad-header {
  line-height: 0;
}
header > p {
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 11px;
  background: #003d70;
  color: #fff;
}
nav {
  position: relative;
  height: 86px;
}
nav.on_scroll {
/* スクロールしたら高さを少なくする指定 */
}
.logo,
nav > ul li {
  float: left;
}
.logo {
  display: block;
  width: 220px;
  height: 100%;
  margin-right: 15px;
  text-indent: -9999px;
  background: url("img/logo.png") no-repeat #0068bf;
  background-position: 45% 45%;
  background-size: 182px 31px;
}
nav > ul li a {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px 0;
  line-height: 86px;
  font-size: 16px;
}
nav > ul li a::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #0068bf;
  -webkit-transition: .3s;
  transition: .3s;
}
nav > ul li a:hover::after {
  -webkit-transform: scaleX(0.7);
  -ms-transform: scaleX(0.7);
  transform: scaleX(0.7);
}
.cat_other {
  position: relative;
}
.cat_other > ul {
  display: none;
  position: absolute;
  top: 86px;
  right: 0px;
  width: 720px;/* 180×4=720 */
  height: 263px;
  background: #fff;
  padding-bottom: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  z-index: 2;
}
.cat_other > ul li a {
  display: inline-block;
  width: 180px;/* 180×4=720 */
  text-align: center;
}
.search {
  position: relative;
  float: right;
  width: 86px;
  line-height: 86px;
  cursor: pointer;
  text-indent: -9999px;
  background: url("img/icon_search.png") no-repeat;
  background-position: 45% 45%;
  background-size: 29px 29px;
}
nav form {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  top: 86px;
  right: 0;
  width: 40%;
  z-index: 1;
}
nav form > input {
  display: inline-block;
  padding: 10px;
  border: solid 1px #ddd;
  font-size: 14px;
}
nav form > input[type="text"] {
  width: 100%;
}
nav form > input[type="submit"] {
  border-left: none;
  background: #0068bf;
  color: #fff;
}
.hamburger {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 86px;
  height: 100%;
  background: #333;
}
.line_top, .line_middle, .line_bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #fff;
  transition: 0.3s;
}
.line_top {
  top: 34%;
}
.line_bottom {
  top: 65%;
}
.line_top.on {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.line_middle.on {
  width: 0px;
}
.line_bottom.on {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* パンくず */
.breadcrumb {
  width: 100%;
  background: #f4f3f4;
  font-size: 11px;
  padding: 10px 0;
}
.breadcrumb li a {
  float: left;
  padding-left: 10px;
  color: #3c3c3c;
}
.breadcrumb li a::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 15px 1px 0;
  border-top: solid 1px #3c3c3c;
  border-right: solid 1px #3c3c3c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.breadcrumb li:first-child a::before {
  margin-right: 0;
  border: none;
}

/* 記事ページのタイトル */
.wrap-release-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 15px 0 0;
}
.wrap-release-date span {
  margin-left: 10px;
}
.wrap-label {
  text-align: center;
}
.wrap-post-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 10px;
}
.wrap-post-date .time {
  margin: 0 5px;
}

/* 記事ページ */
.wrap-youtube {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}
.youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h2.single-title {
  margin-bottom: 20px;
  font-size: 20px;
}
.wrap_topic--single {
  position: relative;
  margin: 15px 0 0;
  padding: 50px 15px 20px;
  background: #e1f8ff;
}
.wrap_topic--single span {
  position: absolute;
  top: 15px;
  left: 15px;
  padding-left: 22px;
  background: url(img/icon_topics.png) no-repeat;
  background-position: left 45%;
  background-size: 16px 22px;
}
.wrap_topic--single div {
  position: absolute;
  top: 15px;
  right: 15px;
}
.wrap_topic--single p {
  font-size: 15px;
  font-weight: bold;
}
.btn_offical {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 15px 25px;
  background: #0068bf;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.btn_offical::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  border: solid 6px transparent;
  border-left: solid 6px #fff;
}
.mokuji_sp {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border: solid 1px #ddd;
  background: #f1f1f1;
}
.mokuji_sp h3 {
  font-size: 15px;
  text-align: center;
}
.address_game {
  display: block;
  margin: 15px 0 0;
  text-align: center;
  font-size: 12px;
}
.wrap_recommend {
  margin-top: 50px;
}
.wrap_mokuji {
  margin-left: 20px;
}
.wrap_mokuji li {
  list-style: disc;
  margin-top: 5px;
}
.wrap_mokuji li a {
  font-weight: normal;
  font-size: 15px;
}

/* トップ10 */
.wrap-top10 {
  width: 1160px;
  height: auto;
  margin: 50px auto 0;
}
.top10_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.top10_title h1, .top10_title span {
  font-size: 18px;
  font-weight: bold;
}
.top10_title .time {
  margin-left: 10px;
}
.wrap-top10 > ol li a {
  position: relative;
  display: block;
  float: left;
  background: #000;
}
.wrap-top10 > ol li:nth-child(1) a {
  width: 49%;
  height: 405px;
  margin-right: 0.5%;
  /* background-image: url(img/01.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(2) a {
  width: 25%;
  height: 200px;
  margin-right: 0.5%;
  margin-bottom: 5px;
  /* background-image: url(img/02.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(3) a {
  width: 25%;
  height: 200px;
  margin-bottom: 5px;
  /* background-image: url(img/03.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(4) a {
  width: 25%;
  height: 200px;
  margin-right: 0.5%;
  /* background-image: url(img/04.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(5) a {
  width: 25%;
  height: 200px;
  /* background-image: url(img/05.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(6) a {
  width: 19.5%;
  height: 200px;
  margin-top: 5px;
  margin-right: 0.625%;
  /* background-image: url(img/06.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(7) a {
  width: 19.5%;
  height: 200px;
  margin-top: 5px;
  margin-right: 0.625%;
  /* background-image: url(img/07.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(8) a {
  width: 19.5%;
  height: 200px;
  margin-top: 5px;
  margin-right: 0.625%;
  /* background-image: url(img/08.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(9) a {
  width: 19.5%;
  height: 200px;
  margin-top: 5px;
  margin-right: 0.625%;
  /* background-image: url(img/09.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 > ol li:nth-child(10) a {
  width: 19.5%;
  height: 200px;
  margin-top: 5px;
  /* background-image: url(img/10.jpg);
  background-repeat: no-repeat;
  background-size: contain; */
}
.wrap-top10 ol .text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 11px;
  text-align: left;
  color: #fff;
  background: rgba(0, 0, 0, 1);
}
.wrap-top10 ol .number {
  position: absolute;
  top: 0;
  left: 0;
  background: #2a6fe0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: #fff;
  font-size: 16px;
  border: solid 1px #fff;
  border-top: none;
  border-left: none;
}
.wrap-top10 ol .label {
  position: absolute;
  top: 2px;
  right: 2px;
  background: #fff;
  border: solid 1px #333;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 5px 8px;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 9px;
}

/* カテゴリページ（タイトル） */
h1.cat-title {
  position: relative;
  padding: 10px;
  margin-top: 45px;
  font-size: 22px;
  text-align: center;
}
h1.cat-title::after {
  content: "";
  position: absolute;
  bottom: 2px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 32px;
  height: 4px;
  background: #0068bf;
}
.cat-title_sub {
  max-width: 500px;
  margin: 10px auto 0;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
}

/* 新着オンラインゲーム */
.wrap-new-game {
  margin-top: 25px;
  padding: 20px;
}
.new-game_title_sub {
  margin-top: -10px;
  font-size: 13px;
}
.new-game {
  margin-top: 15px;
}
.new-game li {
  float: left;
  width: 19%;
  margin-left: 1.25%;
}
.new-game li:first-child {
  margin-left: 0;
}

/* ２カラム */
.parent-column {
  width: 1160px;
  margin: 60px auto 0;
}
.left-column {
  width: 65%;
  float: left;
}
.right-column {
  width: 30%;
  float: right;
  margin-left: 5%;
}

.left-column section {
  padding-bottom: 30px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 30px;
}
.right-column section {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/* おすすめランキングトップ３ */
.wrap_top3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.wrap_top3 li {
  position: relative;
  width: 31%;
}
.wrap_top3 li img {
  width: 100%;
}
.wrap_top3 li .number {
  position: absolute;
  top: 0;
  left: 0;
  background: #2a6fe0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #fff;
  border-top: none;
  border-left: none;
}
.wrap_top3 li h3, .wrap_top3 li h4 {
  font-size: 15px;
  margin-bottom: 5px;
}
.wrap_top3 li p {
  margin-top: 10px;
  font-size: 14px;
}
.wrap_btn_all-cat {
  text-align: right;
  margin: 20px 0 0;
}
.wrap_btn_all-cat a {
  position: relative;
  display: inline-block;
  background: #2a6fe0;
  color: #fff;
  font-size: 13px;
  padding: 10px 40px;
}
.wrap_btn_all-cat a::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: solid 5px transparent;
  border-left: solid 8px #fff;
}

/* ランキング（カテゴリページ）*/
h2 + .time {
  margin-top: -10px;
}
.wrap_tab {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 20px 0 50px;
}
.wrap_tab li {
  width: 33.33%;
  text-align: center;
  border: solid 1px #ddd;
  border-left: none;
}
.wrap_tab li:first-child {
  border-left: solid 1px #ddd;
}
.wrap_tab li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
}
.tab_active {
  position: relative;
  background: #0068bf;
}
.tab_active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -7px;
  border: solid 10px transparent;
  border-top: solid 10px #0068bf;
  border-top-width: 15px;
}
.tab_active a {
  color: #fff;
}
.name_game {
  font-size: 18px;
}
.title_game {
  padding: 10px;
  background: #e1f8ff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.wrap_koma {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.koma_left {
  width: 48%;
}
.koma_right {
  width: 50%;
  margin-left: 2%;
}
.koma_right p{
  font-size: 15px;
  margin-bottom: 10px;
}
.koma_left .number {
  position: absolute;
  top: 0;
  left: 0;
  background: #2a6fe0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  border: solid 1px #fff;
  border-top: none;
  border-left: none;
}
.btn_detail {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 10px;
  background: #0068bf;
  color: #fff;
  text-align: center;
}
.btn_detail::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  border: solid 6px transparent;
  border-left: solid 6px #fff;
}

/* ページャー */
.pager-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.pager-inner li {
  margin: 0 4px;
}
.pager-inner li a, .pager-inner li span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 16px;
  text-align: center;
}
li.previouspostslink a, li.nextpostslink a {
  width: 70px;
}
li.is-current span {
  background: #0068bf;
  color: #fff;
}

/* 最新トピックス */
.wrap_topic {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ddd;
}
.wrap_topic-left {
  max-width: 50%;
}
.wrap_topic-right {
  margin-left: 10px;
}
.label_topic {
  display: inline-block;
  padding: 3px 6px;
  border: solid 1px #e037de;
  font-size: 11px;
  font-weight: bold;
  color: #e037de;
}
.label_topic_jizen, .label_topic_beta {
  display: inline-block;
  padding: 3px 6px;
  border: solid 1px #69ba01;
  font-size: 11px;
  font-weight: bold;
  color: #69ba01;
}
.wrap_topic .time {
  margin-top: 5px;
}
.wrap_topic p {
  font-size: 12px;
  margin-bottom: 10px;
}
.wrap_topic .label {
  display: inline-block;
  background: #fff;
  border: solid 1px #bbb;
  color: #333;
  padding: 3px 8px;
  font-size: 9px;
  margin-bottom: 3px;
}
.wrap_topic .label_new {
  background: #de1413;
  color: #fff;
}
.wrap_topic .label_device {
  background: #333;
  color: #fff;
}
.wrap_topic .label_pre {
  border: solid 1px #69ba01;
  color: #69ba01;
}
.wrap_topic img {
  width: 147px;
}

/* フッター */
footer {
  background: #333;
  text-align: center;
  width: 100%;
  color: #fff;
  padding: 55px 10px;
  margin-top: 40px;
}
footer p {
  margin: 0 10px;
  font-size: 15px;
}
.logo_footer {
  display: block;
  width: 220px;
  height: 37px;
  margin: 20px auto 0;
  text-indent: -9999px;
  background: url("img/logo.png") no-repeat;
  background-size: 220px 37px;
}
footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 50px auto 0;
}
footer ul li {
  margin: 0 6px;
}
footer ul li a {
  font-size: 13px;
  color: #fff;
}
address {
  display: inline-block;
  margin: 20px 0 0;
  font-size: 11px;
}

/* スマホのメニュー */
.sp-menu {
  display: none;
}

/* toTop */
.page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border: solid 1px #333;
}
.page-top span {
  width: 60px;
  height: 60px;
  display: block;
  background: rgba(0,0,0,0.7);
  position: relative;
  border: solid 1px #fff;
}
.page-top span:before {
  content: "";
  display: block;
  border: none;
  width: 17px;
  height: 17px;
  border-left: solid 4px #fff;
  border-top: solid 4px #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 24px;
  left: 19px;
}

/* ====================
1150px 以下
===================== */
@media (max-width: 1150px){
.container {
  width: 900px;
}
.container_left {
  margin-left: -1050px;/* 450+600=1050 */
}
.container_right {
  margin-right: -1050px;/* 450+600=1050 */
}
main {
  padding-top: 124px;
}
header {
  width: 900px;
}
nav {
  height: 70px;
}
nav > .logo {
  width: 200px;
  background-size: 150px 26px;
}
nav > ul li a {
  font-size: 14px;
  padding: 0 15px 0;
  line-height: 70px;
}
.cat_other > ul {
  top: 70px;
  height: 215px;
}
.search {
  width: 70px;
  line-height: 70px;
  background-size: 25px 25px;
}
nav > form {
  top: 70px;
}
.wrap-top10 {
  width: 860px;
}
.parent-column {
  width: 860px;
}
.wrap_topic img {
  width: 118px;
}
}

/* ====================
850px 以下
===================== */
@media (max-width: 850px){
.container {
  width: 100%;
}
header {
  width: 100%;
}
.label_large {
  font-size: 11px;
}
.ad-header {
  display: none;
}
nav > ul {
  display: none;
  background: #0068bf;
}
nav > ul::after {
  content: "";
  display: block;
  clear: both;
}
nav > .logo,
nav > ul li {
  float: none;
}
nav > ul li a {
  height: 45px;
  line-height: 45px;
  display: inline;
  float: left;
  color: #fff;
}
.cat_other > ul {
  position: static;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
}
.cat_other > ul li a {
  display: inline;
  text-align: left;
  float: left;
  width: inherit;
}
.menu_other {
  display: none;
}
/* .menu_other:hover {
  opacity: 1;
} */
.hamburger {
  display: block;
  width: 70px;
  height: 70px;
}
.search {
  position: absolute;
  top: 0;
  right: 70px;
}
nav > form {
  width: 100%;
  top: 70px;
}
nav > ul li a::after {
  background: none;
}
nav > ul li a:hover {
  opacity: 0.7;
}
main {
  padding-top: 98px;
}
.wrap-top10 {
  width: 100%;
  padding: 10px;
}
.wrap-top10 > ol li:nth-child(-n+10) a {
  width: 49.5%;
  height: 250px;
  margin: 0 0 7px 0 ;
}
.wrap-top10 > ol li:nth-child(2n+1) a {
  margin-right: 0.5%;
}
.wrap-top10 > ol li:nth-child(2n) a {
  margin-left: 0.5%;
}
.wrap-new-game {
  padding: 10px;
}
.new-game {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.new-game li {
  float: none;
  width: 32%;
  margin-left: 2%;
  margin-bottom: 20px;
}
.new-game li:nth-child(3n+1) {
  margin-left: 0;
}
.mokuji_sp {
  display: block;
}
.mokuji_pc {
  display: none;
}
.parent-column {
  width: 100%;
  padding: 0 10px 0;
}
.left-column {
  width: 100%;
  float: none;
}
.right-column {
  width: 100%;
  float: none;
  margin-left: 0;
  margin-top: 30px;
}
.koma_right p{
  font-size: 13px;
}
.wrap_topic img {
  width: 147px;
}
footer p {
  font-size: 13px;
}
}

/* ====================
520px 以下
===================== */
@media (max-width: 520px){
h2 {
  font-size: 16px;
}
main {
  padding-top: 78px;
}
.label_large {
  font-size: 10px;
}
nav {
  height: 50px;
}
nav > .logo {
  width: 150px;
  background-size: 120px 21px;
}
.search {
  right: 50px;
  width: 50px;
  line-height: 50px;
  background-size: 22px 22px;
}
nav > form {
  top: 50px;
}
.hamburger {
  width: 50px;
  height: 50px;
}
.top10_title {
  display: block;
}
.top10_title h1, .top10_title span {
  font-size: 14px;
  float: left;
}
.top10_title .time {
  margin-left: 0;
  clear: both;
}
.wrap-top10 > ol li:nth-child(-n+10) a {
  width: 100%;
  height: 350px;
}
.new-game {
  display: block;
}
.new-game li {
  width: 100%;
  margin-left: 0;
  margin-bottom: 20px;
}
.name_game {
  font-size: 16px;
}
.title_game {
  font-size: 14px;
}
.wrap_top3 {
  display: block;
}
.wrap_top3 li {
  width: 100%;
  margin-bottom: 20px;
}
.top3_thumb {
  display: block;
  width: 50%;
  float: left;
  margin-right: 10px;
}
.wrap_top3 li p {
  padding-bottom: 15px;
  border-bottom: solid 1px #ddd;
  clear: both;
}
.wrap_top3 li:last-child p{
  padding-bottom: 5px;
  border: none;
}
.wrap_btn_all-cat a {
  width: 100%;
  text-align: center;
}
footer p {
  font-size: 13px;
}
.logo_footer {
  width: 180px;
  height: 30px;
  background-size: 180px 30px;
}
footer ul {
  display: block;
  width: 100%;
  margin: 30px auto 0;
}
footer ul li {
  margin: 5px 3px;
}
}

/* ====================
400px 以下
===================== */
@media (max-width: 400px){
.wrap-top10 > ol li:nth-child(-n+10) a {
  height: 250px;
}
}
